<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds"
	debug="false">
	<springProperty scope="context" name="APP" source="logback.appname" />
	<springProperty scope="context" name="ROOT" source="logback.root" />
	<springProperty scope="context" name="MAXHISTORY" source="logback.maxhistory" />
	<springProperty scope="context" name="MAXFILESIZE" source="logback.maxfilesize" />
	<contextName>${appname}</contextName>

	<!-- 控制台打印 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="utf-8">
			<pattern>[%-5level] %d{${DATETIME}} [%thread] %logger{36} %line - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${ROOT}/${APP}.out.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${ROOT}/${APP}.out.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<maxHistory>${MAXHISTORY}</maxHistory>
			<maxFileSize>${MAXFILESIZE}</maxFileSize>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${ROOT}/${APP}.error.log</File>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
		</encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ROOT}/${APP}.error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>${MAXHISTORY}</maxHistory>
            <maxFileSize>${MAXFILESIZE}</maxFileSize>
        </rollingPolicy>
    </appender>


	<!-- SQL相关日志输出 -->
	<logger name="org.apache.ibatis" level="INFO" additivity="false" />
	<logger name="org.mybatis.spring" level="INFO" additivity="false" />

	<!-- Logger 根目录 -->
	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE" />
		<appender-ref ref="ERROR" />
	</root>
</configuration>