<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:fragment="commonCss">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/tt.css}" />
<title>跟踪任务管理</title>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
	<nav th:fragment="navbar(class1, class2)"
		class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="logo" href="#"></a> <a class="navbar-brand" th:href="@{/index}">告警信息</a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li th:class="${class1}"><a th:href="@{/index}">告警信息</a></li>
					<li th:class="${class2}"><a th:href="@{/admin}">系统设置</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<footer th:fragment="footer">
		<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
		<script th:src="@{/tt.js}"></script>
	</footer>
</body>
</html>